// Colors

$white: #FFFFFF;
$periwinkle: #6672ab;
$light-peri: #909bcf;
$light2-peri: #bec2d3;
$light2comp-peri: #d3cfbe;
$mustard: #ab9f66;
$green: #a9ab66;


$bgcolor-header: $light2comp-peri;
$bgcolor-nav: periwinkle;
$bgcolor-sidebar: light2-peri;
$bgcolor-main: light2-peri;
$bgcolor-footer: mustard;
$textcolor: almost-black;
$fontsize: 32px;

$font-fam: 'Helvetica Neue', Helvetica, arial, sans-serif;
$width: 1200px;

// Monochromatic Colors - from #ab9f66 (mustard)
$mustard: #ab9f66;
$mustard-light: #d5c77f;
$black: #000000;
$almost-black: #2b281a;
$chocolate: #555033;
$mustard-dark: #80784c;

// Analogous - from #6671aa (periwinkle)
$periwinkle: #6672ab;
