// Colors
$white: #FFFFFF;
$red: #F1352B;
$green: #7ACB00;
$purple: #6E27C5;
$orange: #FF6600;
$blue: #150F96;

$bgcolor-header: red;
$bgcolor-nav: green;
$bgcolor-sidebar: purple;
$bgcolor-main: orange;
$bgcolor-footer: blue;
$textcolor: white;
$fontsize: 32px;

$font-fam: 'Helvetica Neue', Helvetica, arial, sans-serif;
$width: 1200px;
