/*rem sizes*/
$half: 0.5rem;
$one: 1rem;
$onehalf: 1.5rem;
$three: 3rem;
$four: 4rem;
$five: 5rem;
$ten: 10rem;
/*px to rem sizes*/
$two: 0.125rem;
$seven: 0.4375rem;
$ten: 0.625rem;
$hundred: 6.25em;
$thousand: 62.5rem;
/*percentages*/
$zeroper: 0%;
$oneper: 1%;
$twoper: 2%;
$threeper: 3%;
$tenper: 10%;
$twentyper: 20%;
$fortyper: 40%;
$quarterper: 25%;
$fiftyfiveper: 55%;
$seventyper: 70%;
$eightyper: 80%;
$ninetyper: 90%;
$hundredper: 100%;
$fiftyper: 50%;
