// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';
@import 'scss/fontawesome.scss';
@import 'scss/solid.scss';

.main {
  padding: 0px;
}

.grid-container {
  margin: 0 auto;
  max-height: 1500px;
  max-width: 2000px;
  display: grid;
  grid-template-rows: 150px 100px 600px 150px;
}

.header {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}


.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(139, 191, 235);


  li {
    display: inline-block;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 25px;
  }

  a {
    color: white;
  }
}

.fa-tractor {
  padding: 10px 0 10px 0;
  font-size: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    padding: 0px;
    margin: 0 0 0 0;
  }

}

.nav-footer {
  background-color: rgb(139, 191, 235);
  margin: 0px;

  ul {
    margin: 0px;
  }
  li {
    display: inline-block;
    padding: 0 15px;
    margin: 0px;
    font-size: 25px;
  }

  a {
    color: white;
  }

}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.sidebar {
  background-color: whitesmoke;
  flex-grow: 1;
}

.main-content {
  flex-grow: 3;
  background-color: orange;
}

.footer {
  background-color: rgb(139, 191, 235);
}