@import  'profile';
@import 'variables';

//mixin function
@mixin flexContainer ($direction) {
    display: flex;
    flex-direction: $direction;
}
#a-container {
    @include flexContainer(row);
    // border: 3rem solid #d9d9d9;
    margin: auto;
    color: $textColor;
}

.main {
    // @include flexContainer(row);
    border: 3rem solid #d9d9d9;
    // margin: auto;
    // color: $textColor;
}

p span.special {
    font-weight: bold;
    font-size: large;
}
#image {
    border-radius: 50%;
    max-width: 60%;
    min-width: 20%

}

//nested selectors
.title {
    margin: 3%;
    text-align: center;

    h3 {
        font-style: italic;
        margin-top: -1.25rem;
    } 
}

.details {
    background-color: $cardBackground;
    padding-left: 3%;
    margin: 4%;
    width: 70%;
    flex-wrap: wrap;
}