@import "style.scss";

.outerbox {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-color: grey;
}

.business-card {
    display: flex;
    width: 45%;
    height: 150px;
    max-width: 400px;
    border: 30px solid lightgray; /* Light grey */
    overflow: hidden;
    padding: 2%;
}

.business-card img {
    width: 100px; /* Adjust the image size as needed */
    height: 100px;
    border-radius: 50%; /* Round Image */
    padding: 1%;
}

.text-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: lightgrey;
    width: 50%;
    text-align: left;
}
.outerbox {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-color: grey;
}

.business-card {
    display: flex;
    width: 45%;
    height: 150px;
    max-width: 400px;
    border: 30px solid lightgray; /* Light grey */
    overflow: hidden;
    padding: 2%;
}

.business-card img {
    width: 100px; /* Adjust the image size as needed */
    height: 100px;
    border-radius: 50%; /* Round Image */
    padding: 1%;
}

.text-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: lightgrey;
    width: 50%;
    text-align: left;
}
 