// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

$purple: #6e27c5;
$blue: #150f96;
$gray: #f6f5f6;

$font-fam: "arial, helvetica, sans-serif";

.static-block {
	border-top: 3px solid $purple;
	&__title {
	  margin: 4rem 0 0;
	  font-size: 1.5rem;
	  font-family: $font-fam;
	  font-weight: 400;
	  color: $purple;
	}
	&__copy {
	  margin-bottom: 1rem;
		font-size: 1rem;
		font-family: $font-fam;
		color: $blue;
	}
	&__img {
	  display: block;
	  max-width: 100%;
	  margin: auto;
	  border-bottom: 5px solid $blue;
	}
	&__content {
	  border-bottom: 5px solid $gray;
	  margin: 2rem auto;
	}
	&:last-of-type {
	  .static-block__content {
			border: none;
	  }
	}
}