// Colors
$darkorange: #ff8c00;
$ivory: #fffff0;
$lightgray: #dcdcdc;
$dimgray: #696969;
$midnightblue: #191970;
$aliceblue: #f0f8ff;
$black: #000000;
$white: #ffffff;


$font-fam: "arial, helvetica, sans-serif";

$a:focus: #696969
$h1-p: #666666; /* h1 - card-image, p - card-details */
$p: #191970; /* p - aside midnightblue */
