// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;
$lightgray: #B0B0B0;

//font//
$font-set: arial, helvetica, sans-serif;
$font-small: 0.9rem;
$font-medium: 1rem;
$font-title: 5rem;