@import '_variable';
h1 {
    @include font;
    font-size: 2em;
}
.shapes {
    position: relative;
}
.shapes__square{
    width: $width;
    height: $height;
    margin: $height auto;
    background-color: $background-color;
    transition: all 0.7s linear;
}

.shapes__circle{
    position: relative;
    width: $width;
    height: $height;
    margin: $height auto;
    border-radius: 50%;
    background-color: $background-color;
    animation: run 4s linear 2s infinite alternate backwards
}

.shapes__square:hover {
    background-color: green;
    transform: rotate(360deg);
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

@keyframes run {
    0%{
        background-color: blue;
        right: 0px;
        top: 0px;
    }
    20%{
        background-color: orange;
        right: 300px;
        top: 0px;
    }
    40%{
        background-color: limegreen;
        left: -300px;
        top: -300px;
    }
    60%{
        background-color: purple;
        top: -300px;
        left: 300px;
    }
    80%{
        background-color: peru;
        left: 300px;
        top: 0px;
    }
    100%{
        background-color: blue;
        left: 0px;
        top: 0px;
    }
    
}