//import scss//
@import 'mixin';
@import 'settings.variables';


//all//
* {
    margin: 0;
}


//header//
header {
    background-color: $yellow;
    padding-top: 30px;
    display: flex;
  
    .logo {
        width: 20%;
    }
  
    .name {
        font-size: $font-title;
        padding-top: 55px;
        padding-left: 10px;
        animation-name: teatok;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}


//keyframes
@keyframes teatok {
    0% {
        padding-left: 50px;
    } 
    50% {
        padding-left: 100px;
    }
    100% {
        padding-left: 200px;
    }
}


//nav item//
nav {
  background-color: $robins;
  a {
    text-decoration: none;
    font-weight: bold;
  }
  ul {
    display: flex;
    flex-direction: row;
  }


//use transition and transform//
  li {
    padding-left: 2rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    list-style: none;
    transition: transform 2s;
  }
  li:hover {
    transform: scale(1.25, 1.25);
  }
}

//body//
main {
    min-height: 400px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding-top: 3rem;
    }

    h1 {
        color: brown;
        padding-top: 3rem;
        margin-left: 15%;
        text-align: center;
        border-bottom: 3px solid brown;
        width: 70%;

    }

    .intro {
        text-align: center;
        padding: 3rem 5rem;
    }

    h2 {
        color: brown;
        text-align: center;
        border-bottom: 3px solid brown;
        margin-left: 20%;
        width: 60%;

    }

//drinks info//
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        padding-left: 10%;
        padding-bottom: 2rem;

        .drinks {
            width: 25%;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .bubble-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 2rem;


        }

        .drink-info {
          @include main-text;
          text-align: center;

        }

  }
}
