//Declare Variables
$mtfuji-height: 800px;
$mtfuji-width: 800px;
$background-pink: #fcc9b9;

//Title Animation
//Moves Title from left to right
h1 {
  animation-duration: 5s;
  animation-name: title-right;
  animation-iteration-count: infinite;
}

@keyframes title-right{
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 70%;
    width: 100%;
    color: red;
  }
}

// Iterates through (count + 1) child of div and sets
// its respective p translate
@mixin change-transform($count) {
  @for $i from 2 through $count {
    div:nth-child(#{$i}) {
       p {
        transform: translate($i * -20%, $i * -10%);
       }
    }
  }
}

// Modify 2 - 5 child of div p
@include change-transform(5);

.container {

  position: relative;
  width: 100%;
  width: $mtfuji-width;
  height: $mtfuji-height;

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  // Default div to translucent
  // Transition over 1 second when hovering
  div {
    opacity: 0;
    position: absolute;
    height:25%;
    width: 25%;
    transition: 1s ease;
    background-color: $background-pink;
  }

  // Set div to half opacity when hovering
  div:hover {
    opacity: .5;
  }

  .overlay {
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .overlay-2 {
    top: 0px;
    bottom: 0px;
    left: 200px;
    right: 0px;
  }

  .overlay-3 {
    top: 200px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .overlay-4 {
    top: 200px;
    bottom: 0px;
    left: 200px;
    right: 0px;
  }

  p {
    opacity: 1;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  }
}
