header {
    background-color: black;

    .banner {
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }
}

nav {
    background-color: lightgray;

    a {
        text-decoration: none;
        font-weight: bold;
    }

    ul {
        display: flex;
        flex-direction: row;

    }

    li {
        list-style-type: none;
        padding: 1rem;
        transition: transform 2s;
    }

    li:hover {
        transform: scale(1.5, 1.5);
        
    }
}

body {
    background-color: lightgoldenrodyellow;
    
}

main {
    min-height: 400px;
}


h1 {
    color: red;
}