html {
  box-sizing: border-box;
  overflow-y: auto;
}
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-family: sans-serif;
  background-color: #ffffff;

}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: aside; }
.item5 { grid-area: article; }
.item6 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main aside'
    'article article article article article article'
    'footer footer footer footer footer footer';
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > section {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end:7;
}
.item2 {
  grid-column-end:2;
}
.item3 {
  grid-column-start:2;
  grid-column-end:6;
}
.item4 {
  grid-column-end:6;
}
.item5 {
  grid-column-start:1;
  grid-column-end:7;
}
.item6 {
  grid-column-start:1;
  grid-column-end:7;
}

main {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));
}
figure {
  margin: 0;
}
.item1 img {
  max-width: 100%;
  position: center;
}
/* Header image */
img {
  display: block;
  width: 100%;
  height:50%;
  object-fit:cover;
}
/* Header background section */
 header svg {
  width:100%;
  height: 100vh;
}
.img-overlay-wrap img {
  position: absolute;
  max-width: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  align: center;
  z-index: -1;
}
.img-overlay-wrap svg {
  position: absolute;
  verticle-align: center;
}
/* End Header background section */

/* Master navigation */
.btn {
  background-color: #696969;
  padding: .25rem .75rem;
  border-radius: .75rem;
  font-size: 1rem;
  color: #dcdcdc;
  text-transform: uppercase;
}
nav {
  flex: 1;
  top: 0;
  z-index: 10;
  height: 3.5em;
  width: 100%;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  padding-left: 1rem;
}
a {
  flex: 2;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
a:hover,
a:focus {
  color: #696969;
  background-color: #dcdcdc;
}
/* End master navigation */
h3{
  font-weight: bold;
  font-family:serif;
  margin: 0;
}
/* End Header section */
