@use '01-colors' as colors;

/* Avoid some magic numbers here
*/
$padding-px: 16px;
$site-background: colors.$gray-100;
$light-font: colors.$gray-10;

/* Unnecessary SASS mixin
*/
@mixin flex-setup {
    margin: 0;
    padding: 0;
    display: flex;
}


/* NORMAL CSS
*/
body {
    margin: 0;

    background-color: $site-background;
    color: $light-font;

    font-family: Arial, Helvetica, sans-serif;
}

.top-nav {
    
    ul {
        @include flex-setup();
        justify-content: center;
    }
    
    li {
        list-style: none;
        display: inline-block;

        /* margins add up to 32px per Carbon Design System
        */
        margin-left: 16px;
        margin-right: 16px;
        
        padding: $padding-px;
    }
}

.main {
    max-width: 960px;
    margin: auto;
}

.helpful-links {

    li {
        transition: background-color 400ms ease-in-out 100ms;
    }

    li:hover, 
    li:focus {
        background-color: aqua;
        animation-duration: 500ms;
    }

    .horizontal-bounce:hover {
        animation-name: horizontal-bounce;
        animation-timing-function: ease-in;
        animation-duration: 500ms;
    }
}

@keyframes horizontal-bounce {
    0% {transform: translateX(0);}
    50% {transform: translateX(2em);}
    100% {transform: translateX(0);}
}