// Colors
/*theme colors*/
$black: black;
$white: white;
$silver: #C0C0C0;
$red: red;
$lemonyellow: #FFFF9F;

/*mars colors; source: https://engelsjk.com/posts/contour-art-of-mars-topography/*/
$darkred: #842323;
$darkorange: #C5532B;
$lightorange: #DF8F44;
