html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    // padding: 2rem;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
        "header header"
        "nav nav"
        "sidebar main-content"
        "footer footer"
    ;
}

.header {
    grid-area: header;
    // background: linear-gradient(45deg, #DB7093, #191970 30%);
    // background-color: red;
    background-image: url('../images/running-feet.jpeg'); 
    background-size: cover;
    // background-size: contain;
    // background-repeat: no-repeat;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    &__title {
        text-align:center;
    }
}
.navigation {
    grid-area: nav;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: greenyellow;
    // justify-self: center;
    
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;

}
.sidebar {
    grid-area: sidebar;
    background-color: purple;
    height: 70rem;
    text-align: center;
}
.main-content {
    grid-area: main-content;
    background-color: orange;
}
footer {
    grid-area: footer;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: darkblue;
    text-align: center;
}

@media only screen and (min-width: 1020px) , screen and (max-height: 1089px)
{
    .header {
        background-size: contain;
        background-repeat: repeat-x;
    }
    h1 {
        float: left;
    }
}