html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 3rem;
}

ul {
    list-style: none;
}
h2 {
    margin: 0;
}
.profile-pic {

    p {
        margin: 0;
    }
}
ul, li { 
    margin: 0;
    padding: 0;
}