
// Adds flex-center mixin
@import 'mixin.content.scss';

// Nesting added
.header-box {
    @include flex-center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 1%;
    background-color: $white;
    width: 30%;
    min-width: 180px;

    img {
        width: 90%;
        border-radius: $img-radius;
    }

    p {
        line-height: 0%;
    }
}

.linkedin-container {

    a {
        display: flex;
        width: 35%;
    }

    p {
        width: 100%;
        margin-left: 3%;
    }
}