// Colors used for text or borders
$grey: #747474;
$light-grey: #d3d3d3;
/* Not used anymore
$color_2: #000;
$color_3: inherit;
*/

//Typography and font styling
$font-family: Arial,Helvetica,sans-serif;

//Colors used for backgrounds
$background-color_1: transparent;
$background-color_2: #f6f5f6;
