// Colors

//Edited gray scale.
$gray: #d3d3d3;
//Lightening gray color variable
$lighter-color: lighten($gray, 13%);
//Darkening gray color variable
$darker-color: darken($gray, 50%);
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;
