// Colors
$gray: #f6f5f6;
$white: #ffffff;
$h1-p: #666666; /* h1 - card-image, p - card-details */
$p: #888888; /* p */
$background: #f4f4f4; /* card-details background-color */

$font-fam: "arial, helvetica, sans-serif";
