//these are the variables
$primary-container-Color: gray;
$color: #434343;
$contact-container-padding: 30px;
$contact-container-background-color: #f8f8f8;
$color-text-light: rgb(109, 104, 104);
$card-margin: 0 auto;
$card-flex-direction: row;
$card-display: flex;
$avatar-container-text-align: center;
$card-font-family: sans-serif;
$card-padding: 40px;
$card-color:rgb(109, 104, 104);
$card-border: 40px solid #d3d3d3;