// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

$base-color: rgb(255, 255, 255);
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

$background-color: $light-gray;
@mixin background-color {
    background-color: (116, 114, 114);
}


&:font-weight { 
    @include bold;
}


body {
    border-color: $light-gray;
    border-width: 2rem;
}

.name {
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: $base-color;
}

.left {
    @include flex-column;
}

.right {
    @include flex-column;
    background-color: $background-color;
}

.title {
    @include font-weight;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.img {
    border-radius: 50%;
}