// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

$card-height: 200px;
$card-width: 600px;
$background-grey: rgb(211,211,211);
$text-grey: rgb(112,112,112);

.main {
    p {
        color: $text-grey;
    }

    @include media-query("mobile-smaller") {
        padding: 0px;
    }

    .employee-card {
        border: 25px solid $background-grey;
        height: $card-height + 20px;
        display: flex;
        padding: 30px;

        @include media-query("tab") {
            width: $card-width*1.05;
        }

        @include media-query("mobile-smaller") {
            display: block;
            height: 420px;
        }

        .profile {
            .title {
                font-size: large;
                margin-bottom: 5px;
            }
            display: inline-block;
            padding-right: 10px;
            text-align: center;
            p {
                margin: 0px;
            }
            @include media-query("mobile-smaller") {
                display: block;
                text-align: center;
                padding: 0px;
            }
            .headshot {
                border-radius: 50%;
                width: auto;
                height: 150px;
                margin: auto;
                margin: auto;
                display: block;
                margin-top: 10px;
                margin-bottom: 15px;
            }
            @include media-query("lg") {
                width: $card-width/4;
            }
        }
        .experience {       
            padding-left: 15px;
            display: inline-block;
            
            @include media-query("mobile-smaller") {
                padding: 0px;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            background: $gray;
            padding-top: 20px;
            width: 70%;

            .center {
                display: flex;
                align-items: center;
                height: 50px;
            }
            .profile-text {
                margin: 0px;
                text-align: center;
                padding-left: 5px;
            }
        }
    }
}

