// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

* {
    color: $mediumgray;
}

main {
    border: 50px solid $gray;
}

main, .link{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items:center;
flex-wrap: wrap;
}

h1 {
    color: $mediumgray; 
    font-weight: bold;
}

h1, h2 {
    margin-left: 2rem;
}

h2 {

    font-size: 1.4rem;
    font-weight: normal;
    font-style: italic;
}

span {
    font-size: 1.5rem;
    color: $mediumgray;
}

.section1 {
    // margin-right: .25rem;
    padding-left: 2rem;
    width: 30%;
}

.section1 img {
    border-radius: 50%;
    width: 75%;

}

.link img {
    padding-right: 10px;
}
