// Import partials here
@import '_settings.variables';
@import '_base.normalize';
@import '_settings.responsive';
@import '_components.content';

@include media-query(mobile) {
  .identity {
    //grid-row: 1 / span 1;
    & img {
      border-radius: 50%;
      width: 50%;
      float: left;
      margin: 0 0.5rem 2rem 0;
    }
    & div.name-position {
      font-size: 80%;
  }
}



h1, h3, p, a {
  color: $charcoal;
}

.identity {
  & div.name-position {
  text-align: center;
  }
  & h1 {
    margin: 1rem 0 0.25rem 0;
    &:hover {
      color: lighten($dark-gray);
    }
  }
  & h3 {
    margin: 0;
    font-style: italic;
  }
}

.info {
  background-color: $gray;
  display: flex;
  flex-direction: column;

  }
  & span.spanstyle {
    font-weight: bold;
  }
  & div.social-link {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
}
