// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

$white: rgb(255, 255, 255);
$gray: rgb(211, 211, 211);
$offwhite: rgb(246, 245, 246);
$darkgray: rgb(112, 112, 112);

$font-fam: Arial, Helvetica, Sans-serif;




.box {
    border: 1em solid $white;
    width: 100%

    h1 {
        color: darken($darkgray, 5%);
        font-size: 2.2em;
        font-weight: bold;
    }

    h2 {
        font-style: italic;
        font-weight: 100;
        margin: 0;
    }

    &-outer {
        margin: 2em;
        border: 4em solid $gray;
        border-radius: 5px;
        background-color: $white;
        display: grid;
        grid-template-columns: 30% 70%;


    }

    &-column1 {
        img {
            border-radius: 50%;
            width: 75%;
        }
        display: flex;
        flex-flow: column;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 2em;
        font-family: $font-fam;
        color: $darkgray;
        justify-content: center;
    }

    &-column2 {
        grid-column: 2 / 3;
        margin: 2em;
        font-family: $font-fam;
        font-size: 1.5em;
        color: $darkgray;
        background-color: $offwhite;

        .box-content {
            height: 100%;
            display: flex;
            flex-flow: column;
            align-content: space-around;
            margin: 1em 0;

            p {
            margin: 1em;
            }
        }

    }

    &-about {
        font-weight: 600;
    }
}


@media (min-width: 320px) and (max-width: 540px) {
  * {
    font-size: 0.5em;
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  * {
    font-size: 0.7em;
  }
  .box-column1 img {
    width: 50em;
  }
  .box-outer {
    grid-template-columns: 50% 50%;
  }

  img {
    width: 2.5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  * {
    font-size: .9em;
  }
  .box-column1 img {
    width: 75%;
  }
  .box-column1 h1 {
    font-size:2.2em;
  }
  .box-column1 h2 {
    font-size: 1.7em;
  }
  .box-outer {
    grid-template-columns: 50% 50%;
  }
  img {
    width: 5%;
  }

}