body {
  background-color: #d9d9d9;
  margin: 3em;
  font-family: monospace;
  color: #333;
}

h1 {
  font-size: 2em;
  padding-bottom: 1em;
}

h2 {
  font-size: 1.2em;
  padding: 2.5em 0em 0.5em 0em;
}

p {
  font-size: 1em;
}
