.card {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    color:rgb(109, 104, 104);
    padding: 40px;
    border: 40px solid #d3d3d3; 
    width: 90%;
    box-sizing: border-box;
}

.linkedin-detail {
    display: flex;
    align-items: center;
}

.linkedin-image {
    margin-right: 5px;
}

.avatar-container {
    text-align: center;
    margin-right: 40px;
    line-height: 10px;
}

.dog-avatar {
    width: 60%;

}

.emphasis {
    font-style: italic !important;
}


.contact-container {
    background-color: #f8f8f8;
    flex-grow: 2;
    padding: 30px;
}
 
.contact-text {
    font-weight: lighter;

}

/* Responsive columns - two column layout (verticle) on small screens */
@media screen and (max-width: 750px) {
.card { 
    flex-direction: column;
}

}









