html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
  margin: 2em;
}

.main {
    clear: both;
    padding: 2em;
    max-width: 62.5em;
}

h1 {
    color: $h1-p;
}
