html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: auto;
}

h1 {
    text-align: center;
}

body {
    padding: 20px 0 28px 0;
}

.main {
    padding: 3rem;
}

ul {
    list-style: none;
}
h2 {
    margin: 0;
}
.profile-pic {

    p {
        margin: 0;
    }
}

ul, li { 
    margin: 0;
    padding: 0;
}