/* Global */

/* sets the box sizing and font for the document */
*, ::before, ::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* defines 'p' elements */
p {
    color: #707070;
    font-size: 1vw;
    line-height: .75;
}

/* defines span elements */
span {
    font-weight: bolder;
    font-size: 1.4vw;
    color: #707070;
}

/* id for the full card container */
#card-cont {
    display: flex;
    flex-wrap: wrap column;
    border: 3vw solid #d3d3d3;
    border-radius: 5pt;
    margin: 10vw 15vw;
}

/* id for profile image */
#profile-img {
    border-radius: 50%;
    height: 12vw;
    width: 12vw;
    margin-top: 2vw;
}

/* id for left div set in the flexbox */
#left-marg {
    padding-left: 2.2vw;
}

/* id for the profile name */
#name {
    font-size: 1.2vw; 
    font-weight: bolder; 
    line-height: 0;
    padding-left: 1vw;
}

/* id for the user position */
#position {
    line-height: 0; 
    font-style: italic; 
    font-size: .85vw; 
    padding-left: 1vw;
}

/* id for the profile info */
#profile-info {
    background: #f6f5f6;
    width: 45vw;
    margin: 2.5vw 1.5vw;
    padding-top: 1vw;
    padding-left: 1.5vw;
    padding-bottom: 1vw;
}

/* id for linkedin logo */
#linkedin-img {
    height: 2.75vw;
    width: 2.75vw;
    padding-right: 1vw;
    position: relative;
    top: 1vw;
}

/* id for languages*/
#langs {
    font-style: italic;
    line-height: normal;
}

#flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}