* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: arial, sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    color:darkgrey;
}

#first-form,
#second-form,
#third-form,
#fourth-form,
#fith-form,
.remove-color,
.bg-red {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border: 2px dotted red;
    margin: 0 auto;
    margin-bottom: 5px;
}

span {
    width: 300px;
    border: 2px solid black;
}

p, label, input, button {
    margin: 5px 0;
}

.bg-red {
    width: 100%;
    padding: 25px;
    background-color: red;
    color: white;
    font-size: 25px;
    /* box-sizing: border-box; */
}